body {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.navbar-design {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 12px 40px;
}
.text-design {
  display: flex;
  align-items: end;
  gap: 36px;
  align-items: center;
}
.logo {
  display: flex;
  width: 152px;
}
a {
  text-decoration: none;
  color: #262626;
  cursor: pointer;
}
.fa-solid {
  padding-left: 8px;
}
.footer-design {
  display: flex;
  color: #616161;
  align-items: baseline;
  margin: 12px 40px;
  gap: 36px;
  justify-content: space-between;
  margin-top: 4em;
}
ul {
  list-style-type: none;
  padding: 0px;
}
li {
  color: #616161;
}
.head {
  font-weight: 600;
}
.img-design {
  display: flex;
  margin-top: 20px;
}
.img-head {
  width: 100%;
}

.img-text {
  width: 360px;
  position: absolute;
  top: 140px;
  left: 60px;
}
.img-text-btn {
  color: #000018;
  font-weight: 600;
}
.img-text-btn:hover {
  text-decoration: underline;
}
.head-button {
  background-color: #0067b8;
  color: #fff;
  border: none;
  padding: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  margin: 20px;
}
.icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px;
  gap: 32px;
  cursor: pointer;
}
.ul-design {
  display: flex;
  margin: 6em;
}
.li-group {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.color {
  text-decoration: underline;
  font-weight: 600;
}
.li-group img {
  width: 48px;
}
.midline-edit {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.midline-edit-ul {
  display: flex;
  gap: 36px;
  margin: 12px 40px;
  margin-bottom: 2em;
}

.button-line {
  border: none;
  text-align: start;
  margin-top: 10px;
  font-weight: 600;
}
.button-line:hover {
  text-decoration: underline;
  cursor: pointer;
}
.sizing {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 12px 40px;
}
.img-text2 {
  width: 360px;
  position: absolute;
  top: 30%;
  left: 20%;
}
.last-line-edit {
  display: flex;
  gap: 36px;
}
.last-line-head {
  margin: 12px 40px;
  margin-top: 2em;
}
.social-media {
  display: flex;
  gap: 36px;
  margin: 12px 40px;
}
.img-size {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 1084px) {
  .img-text {
    background-color: white;
    width: 95%;
    top: 350px;
    left: 20px;
  }
}
@media screen and (max-width: 860) {
  .img-text {
    background-color: white;
    width: 100%;
    top: 350px;
    left: 20px;
  }
}
@media screen and (max-width: 1084px) {
  .icon-group {
    margin-top: 170px;
  }
}
@media screen and (max-width: 925px) {
  .icon-group {
    margin-top: 250px;
  }
}
@media screen and (max-width: 734px) {
  .icon-group {
    margin-top: 320px;
  }
}
@media screen and (max-width: 608px) {
  .icon-group {
    margin-top: 410px;
  }
}
@media screen and (max-width: 400px) {
  .icon-group {
    margin-top: 510px;
  }
}
@media screen and (max-width: 300px) {
  .icon-group {
    margin-top: 610px;
  }
}
@media screen and (max-width: 1300px) {
  .midline-edit-ul {
    display: grid;
    grid-template-columns: auto auto;
    margin: 12px 40px;
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 800px) {
  .midline-edit-ul {
    display: grid;
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 1300px) {
  .last-line-edit {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 800px) {
  .last-line-edit {
    display: grid;
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 1300px) {
  .footer-design {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 600px) {
  .footer-design {
    display: grid;
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 600px) {
  .social-media {
    gap: 24px;
  }
}
@media screen and (max-width: 1162px) {
  .text-design {
    gap: 15px;
    justify-content: center;
  }
}
@media screen and (max-width: 1162px) {
  .logo {
    width: 120px;
  }
}

@media screen and (max-width: 965px) {
  .text-design > a {
    color: white;
  }
}
@media screen and (max-width: 965px) {
  .fa-basket-shopping {
    color: black;
  }
}
@media screen and (max-width: 965px) {
  .fa-user {
    color: black;
  }
}
@media screen and (max-width: 965px) {
  .navbar-design {
    margin: 12px 0px;
  }
}
